<div class="feedback-container">
  <div class="comment-container">
    <div class="comment-section">
      <div class="comment">
        <p>
          Michael really kept the team together with his great organization and
          clear communication. We wouldn't have got this far without his
          commitment.
        </p>
        <div class="author">
            <img src="./assets/img/commentline.png" alt="">
            <p >V. Schuster - Team Partner</p>
        </div>
      </div>
      <img src="./assets/img/usercomment.png" alt="" />
    </div>
    <div class="arrows-container">
        <div class="leftarrow"></div>
        <img  class="dot" src="./assets/img/aktiv-slide-dot.png" alt="">
        <img class="dot" src="./assets/img/slide-dot.png" alt="">
        <img class="dot" src="./assets/img/slide-dot.png" alt="">
        <img class="rightarrow" src="./assets/img/rightarrow.png" alt="">
    </div>
  </div>
  <img src="./assets/img/comment.png" alt="">
</div>
