div{
    margin-top: 100px;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.char{
    width: 646px;
}
.bg{
    // width: 100vw;
}