<div class="hero-container">
  <div class="me-container">
    <img class="me-bg" src="../assets/img/charbg.png" alt="" />
    <img class="me" src="../assets/img/char.png" alt="" />
  </div>

  <div class="name-container">
      <p class="i-am">I am</p>

    <div class="name-job">
      <h2>Max Wagener</h2>
      <p>Frontend Developer</p>
    </div>
    <div class="talk-button-container">
      <button class="talk-button">Let's talk!</button>
    </div>
  </div>

  <div class="socials-container">
    <img src="./assets/img/lilaline.png" alt="" />
    <img class="hovereffect" src="./assets/img/github.png" alt="" />
    <img class="hovereffect" src="./assets/img/mail.png" alt="" />
    <img class="hovereffect" src="./assets/img/linkedin.png" alt="" />
    <a href="mailto:maxmustermann@example.com">maxmustermannexample.com</a>
  </div>
  <div class="scroll-container">
    <p>
      Scroll down
      <img
        src="./assets/img/scrollarrow.png"
        alt=""
      />
    </p>
  </div>
</div>
