@import "../../styles.scss";

.hero-container {
  width: 1344px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.me-container {
  position: relative;
  width: fit-content;
}

.me-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.me {
  position: relative;
  width: 646px;
  height: 705px;
  z-index: 2;
}

.name-container {
  position: relative;
  top: -138px;
  z-index: 10;
}
.talk-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.talk-button {
  width: 165px;
  height: 58px;
  background-color: $global-green;
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 23px;
  font-weight: 400;
  font-family: "Poppins", serif;
  line-height: 27.5px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  right: 45px;
  top: 30px;
}
.talk-button:hover {
  background-color: $global-purple;
  transform: scaleX(1.1) scaleY(1.1);
}
.socials-container {
  width: 566px;
  height: 40px;
  position: absolute;
  top: 786px;
  left: 0;
  display: flex;
  align-items: center;
  gap: 32px;
  > a {
    color: white;
    font-size: 23px;
    font-family: "Poppins", serif;
    text-decoration: none;
  }
}

.i-am {
  width: fit-content;
  transform: rotate(-90deg);
  position: relative;
  top: 135px;
  left: -100px;
  font-size: 64px;
  font-weight: 400;
  font-family: "Poppins", serif;
  overflow: hidden;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}
.name-job {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  > h2 {
    height: 100px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 90px;
    font-weight: 700;
    font-family: "Poppins", serif;
    color: white;
    line-height: 108px;
  }
  > p {
    // height: 70px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 58px;
    font-weight: 400;
    font-family: "Poppins", serif;
    color: $global-purple;
    text-transform: uppercase;
    line-height: 69.6px;
  }
}

.scroll-container {
  position: absolute;
  top: 700px;
  right: 0;
  transform: rotate(90deg);
  > p {
    font-family: "Poppins", serif;
    font-size: 23px;
    font-weight: 400;
    color: white;
    > img {
      transform: rotate(-90deg);
    }
  }
}

.hovereffect {
  cursor: pointer;
  transition: all 0.2s ease;
}
.hovereffect:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 1405px) {
  .hero-container {
    width: 100%;
    flex-direction: column;
  }
  .me-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .me {
    width: 410.61px;
    height: 448.11px;
  }
  .name-container {
    top: 0px;
  }
  .name-job {
    > h2 {
      height: 60px;
      font-size: 44px;
    }
    > p {
      font-size: 28px;
    }
  }
  .i-am {
    width: 71px;
    font-size: 32px;
    top: 94px;
    left: -51px;
  }
  .talk-button {
    width: 133px;
    font-size: 16px;
    right: 45px;
    top: 30px;
  }
}
