<div class="heroCon">
  <div class="me-container">
    <img class="mebg" src="../assets/img/charbg.png" alt="" />
    <img class="me" src="../assets/img/char.png" alt="" />
  </div>

  <div class="name-container">
    <div class="i-am">
      <p>I am</p>
    </div>
    <div class="name-job">
      <h2>Dominik Roth</h2>
      <p>Frontend Developer</p>
    </div>
    <div class="talk-button-container">
      <button class="talk">Let's talk!</button>
    </div>
  </div>

  <div class="socials">
    <img src="./assets/img/lilaline.png" alt="" />
    <img class="hovereffect" src="./assets/img/github.png" alt="" />
    <img class="hovereffect" src="./assets/img/mail.png" alt="" />
    <img class="hovereffect" src="./assets/img/linkedin.png" alt="" />
    <a href="mailto:maxmustermann@example.com">maxmustermannexample.com</a>
  </div>
  <div class="scroll">
    <p>
      Scroll down
      <img
        style="transform: rotate(-90deg)"
        src="./assets/img/scrollarrow.png"
        alt=""
      />
    </p>
  </div>
</div>
