<div class="header-container">
  <div class="header-section">
    <img src="./assets/img/header-logo.png" alt="" />
    <div>
      <a
        [routerLink]="['/']"
        class="navbar-link"
        href="javascript:void(0)"
        (click)="navigateAndScroll('aboutMe')"
      >
        {{ "header.aboutMe" | translate }}
      </a>
      <a
        [routerLink]="['/']"
        class="navbar-link"
        href="javascript:void(0)"
        (click)="navigateAndScroll('skills')"
        >{{ "header.skills" | translate }}</a
      >
      <a
        [routerLink]="['/']"
        class="navbar-link"
        href="javascript:void(0)"
        (click)="navigateAndScroll('portfolio')"
        >{{ "header.portfolio" | translate }}</a
      >
      <a
        [routerLink]="['/']"
        class="navbar-link"
        href="javascript:void(0)"
        (click)="navigateAndScroll('contact')"
        >{{ "header.contact" | translate }}</a
      >
      <div class="toggle-container" (click)="toggleLanguage()">
        <div class="toggle-button" [class.active]="language === 'EN'">
          {{ language }}
        </div>
      </div>

      <div
        (click)="showMenu()"
        class="burger-menu-icon"
        [class.open]="isMenuOpen"
      >
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </div>
    </div>
  </div>
</div>

<div class="mobile-menu" #mobileMenu [class.show]="isMenuOpen">
  <div>
    <a
      [routerLink]="['/']"
      href="javascript:void(0)"
      (click)="navigateAndScroll('aboutMe'); showMenu()"
    >
      {{ "header.aboutMe" | translate }}
    </a>
    <a
      [routerLink]="['/']"
      href="javascript:void(0)"
      (click)="navigateAndScroll('skills'); showMenu()"
    >
      {{ "header.skills" | translate }}
    </a>
    <a
      [routerLink]="['/']"
      href="javascript:void(0)"
      (click)="navigateAndScroll('portfolio'); showMenu()"
    >
      {{ "header.portfolio" | translate }}
    </a>
    <a
      [routerLink]="['/']"
      href="javascript:void(0)"
      (click)="navigateAndScroll('contact'); showMenu()"
    >
      {{ "header.contact" | translate }}
    </a>
  </div>
</div>
