@import "../../../styles.scss";

.header-container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  width: 1440px;
  height: 100px;
  background-color: #141d2f;
  font-family: "Poppins", serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  > img {
    width: 150px;
  }
  > div {
    display: flex;
    gap: 29px;
    > a {
      color: whitesmoke;
      text-decoration: none;
      font-size: 23px;
      font-weight: 400;
    }
    > a:hover {
      color: $global-link-hover;
    }
  }
}
