<div class="header-container">
  <div class="header-section">
    <img src="./assets/img/header-logo.png" alt="" />
    <div>
      <a
        class="navbar-link"
        href="javascript:void(0)"
        (click)="scrollToElement('aboutMe', 100)"
        >About me</a
      >
      <a
        class="navbar-link"
        href="javascript:void(0)"
        (click)="scrollToElement('skills', 100)"
        >Skills</a
      >
      <a
        class="navbar-link"
        href="javascript:void(0)"
        (click)="scrollToElement('portfolio', 100)"
        >Portfolio</a
      >
      <a
        class="navbar-link"
        href="javascript:void(0)"
        (click)="scrollToElement('contact', 100)"
        >Contact</a
      >
      <div class="toggle-container" (click)="toggleLanguage()">
        <div class="toggle-button" [class.active]="language === 'EN'">
          {{ language }}
        </div>
      </div>

      <div
        (click)="showMenu()"
        class="burger-menu-icon"
        [class.open]="isMenuOpen"
      >
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </div>
    </div>
  </div>
</div>

<div class="mobile-menu" #mobileMenu>
  <div>
    <a
      class=""
      href="javascript:void(0)"
      (click)="scrollToElement('aboutMe', 100); closeMenu()"
      >About me</a
    >
    <a
      class=""
      href="javascript:void(0)"
      (click)="scrollToElement('skills', 100); closeMenu()"
      >Skills</a
    >
    <a
      class=""
      href="javascript:void(0)"
      (click)="scrollToElement('portfolio', 100); closeMenu()"
      >Portfolio</a
    >
    <a
      class=""
      href="javascript:void(0)"
      (click)="scrollToElement('contact', 100); closeMenu()"
      >Contact</a
    >
  </div>
</div>
