<div class="about-me-container">
  <div class="description-section">
    <h2>{{ 'ABOUT_ME.HEADER' | translate }}</h2>
    <div class="what-about">
      <p>{{ 'ABOUT_ME.INTRO' | translate }}</p>

      <div class="what-about-card">
        <img class="hovereffect" src="./assets/img/location.png" alt="" />
        <p>{{ 'ABOUT_ME.LOCATION' | translate }}</p>
      </div>
      <div class="what-about-card">
        <img class="hovereffect" src="./assets/img/idea.png" alt="" />
        <p>{{ 'ABOUT_ME.CHALLENGE' | translate }}</p>
      </div>
      <div class="what-about-card">
        <img class="hovereffect" src="./assets/img/puzzel.png" alt="" />
        <p>{{ 'ABOUT_ME.PROBLEM_SOLVING' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="circle-image">
    <div class="char-circle-img">
      <img src="./../../assets/img/Wagener.jpg" alt="" />
    </div>
    <!-- <img class="char-circle-img" src="./assets/img/Wagener_M.jpg" alt="" /> -->
    <img class="char-circle-img-line" src="./assets/img/greenline.png" alt="" />
  </div>
</div>