.about-me-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}
.char-circle-img-line {
  height: 4px;
}
.char-circle-img {
  width: 453px;
  height: 453px;
}
.circle-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  color: red;
  margin: 0;
}
.description-section {
  width: 471px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  > h2 {
    font-family: "Poppins", serif;
    font-size: 90px;
    font-weight: 700;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.what-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  > p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
    color: white;
  }
}

.what-about-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  > p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
    color: white;
  }
  > img {
    width: 48px;
  }
}

.hovereffect {
  cursor: pointer;
  transition: all 0.2s ease;
}
.hovereffect:hover {
  transform: scale(1.4);
}
@media screen and (max-width: 900px) {
  .description-section {
    width: 90% !important;
    > h2 {
      font-size: 45px;
    }
  }
}
@media screen and (max-width: 1405px) {
  .description-section {
    width: 70%;
  }
  .about-me-container {
    flex-direction: column;
    position: relative;
    left: 0;
    z-index: 3;
    justify-content: center;
  }
  .circle-image {
    > img {
      display: none;
    }
  }
}
