<div class="contact-container">
  <div class="contact-header">
    <img class="short-lilaline-contact" src="./assets/img/bigshortline.png" alt="">
    <img src="./assets/img/lilacommentline.png" alt="" />
    <h1>{{ 'contact.title' | translate }}</h1>
  </div>

  <div class="contact-section">
    <div class="description">
      <h3>{{ 'contact.problem' | translate }}</h3>
      <p>
        {{ 'contact.introduction' | translate }}
      </p>

      <p>{{ 'contact.frontendDev' | translate }}</p>
    </div>

    <div class="form">
      <input
        type="text"
        [class.focused]="isNameFocused"
        (focus)="onFocus('name')"
        (blur)="onBlur('name')"
        (input)="onInput($event, 'name')"
        placeholder="{{ 'contact.form.namePlaceholder' | translate }}"
      />
      <div class="error-message" [class.visible]="isNameFocused && !nameValue">
        {{ 'contact.form.nameRequired' | translate }}
      </div>

      <input
        type="email"
        [class.focused]="isEmailFocused"
        (focus)="onFocus('email')"
        (blur)="onBlur('email')"
        (input)="onInput($event, 'email')"
        placeholder="{{ 'contact.form.emailPlaceholder' | translate }}"
      />
      <div
        class="error-message"
        [class.visible]="isEmailFocused && !emailValue"
      >
        {{ 'contact.form.emailRequired' | translate }}
      </div>

      <textarea
        [class.focused]="isMessageFocused"
        (focus)="onFocus('message')"
        (blur)="onBlur('message')"
        (input)="onInput($event, 'message')"
        placeholder="{{ 'contact.form.messagePlaceholder' | translate }}"
      ></textarea>
      <div
        class="error-message"
        [class.visible]="isMessageFocused && !messageValue"
      >
        {{ 'contact.form.messageRequired' | translate }}
      </div>
      <div class="policy-container">
        <div class="policy-check">
          <label class="checkbox-container">
            <input type="checkbox" />
            <span class="checkbox-custom"></span>
          </label>
          <p>
            {{ 'contact.form.policyText' | translate }}
          </p>
        </div>
        <button class="sendmsg-button">{{ 'contact.form.sendButton' | translate }}</button>
      </div>
    </div>
    <div class="scroll-up-icon" (click)="scrollToTop()"></div>
  </div>
</div>
