<div class="contact-container">
  <div class="contact-header">
    <img src="../../assets/img/lilacommentline.png" alt="" />
    <h1>Contact</h1>
  </div>

  <div class="contact-section">
    <div class="description">
      <h3>Got a problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>

      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>

    <div class="form">
      <input
        type="text"
        [class.focused]="isNameFocused"
        (focus)="onFocus('name')"
        (blur)="onBlur('name')"
        (input)="onInput($event, 'name')"
        placeholder="Your name"
      />
      <div class="error-message" [class.visible]="isNameFocused && !nameValue">
        Your name is required
      </div>

      <input
        type="email"
        [class.focused]="isEmailFocused"
        (focus)="onFocus('email')"
        (blur)="onBlur('email')"
        (input)="onInput($event, 'email')"
        placeholder="Your email"
      />
      <div
        class="error-message"
        [class.visible]="isEmailFocused && !emailValue"
      >
        Your email is required
      </div>

      <textarea
        [class.focused]="isMessageFocused"
        (focus)="onFocus('message')"
        (blur)="onBlur('message')"
        (input)="onInput($event, 'message')"
        placeholder="Your message"
      ></textarea>
      <div
        class="error-message"
        [class.visible]="isMessageFocused && !messageValue"
      >
        Your message is required
      </div>
      <div class="policy-container">
        <div class="policy-check">
          <label class="checkbox-container">
            <input type="checkbox" />
            <span class="checkbox-custom"></span>
          </label>
          <p>
            I've read the privacy policy and agree to the processing of my data
            as outlined.
          </p>
        </div>
        <button class="sendmsg-button">Send message :)</button>
      </div>
    </div>
    <div class="scroll-up-icon" (click)="scrollToTop()"></div>
  </div>
</div>
