<div class="skill-container">
  <div class="skill-description-responsive">
    <div>
      <h3 [innerHTML]="'SKILLS.LOOKING_FOR' | translate"></h3>
      <p>{{ 'SKILLS.CONTACT_ME' | translate }}</p>
      <button class="get-in-touch-btn">{{ 'SKILLS.GET_IN_TOUCH' | translate }}</button>
    </div>
  </div>

  <div class="icons">
    <div class="singel-icon">
      <img src="./assets/img/icons/html.png" alt="" />
      <p>{{ 'SKILLS.ICONS.HTML' | translate }}</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/css.png" alt="" />
      <p>{{ 'SKILLS.ICONS.CSS' | translate }}</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/js.png" alt="" />
      <p>{{ 'SKILLS.ICONS.JAVASCRIPT' | translate }}</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/ts.png" alt="" />
      <p>{{ 'SKILLS.ICONS.TYPESCRIPT' | translate }}</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/angular.png" alt="" />
      <p>{{ 'SKILLS.ICONS.ANGULAR' | translate }}</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/firebase.png" alt="" />
      <p>{{ 'SKILLS.ICONS.FIREBASE' | translate }}</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/git.png" alt="" />
      <p>{{ 'SKILLS.ICONS.GIT' | translate }}</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/api.png" alt="" />
      <p>{{ 'SKILLS.ICONS.REST_API' | translate }}</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/scrum.png" alt="" />
      <p>{{ 'SKILLS.ICONS.SCRUM' | translate }}</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/materialdesign.png" alt="" />
      <p>{{ 'SKILLS.ICONS.MATERIAL_DESIGN' | translate }}</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/learning.png" alt="" />
      <p>{{ 'SKILLS.ICONS.LEARNING' | translate }}</p>
    </div>
  </div>

  <div class="my-skills">
    <div class="my-skills-header">
      <h2>{{ 'SKILLS.MY_SKILLS' | translate }}</h2>
      <img src="./assets/img/short-lilaline.png" alt="" />
    </div>

    <div class="skill-description">
      <p>{{ 'SKILLS.SKILL_DESCRIPTION' | translate }}</p>
      <div>
        <h3 [innerHTML]="'SKILLS.LOOKING_FOR' | translate"></h3>
        <p>{{ 'SKILLS.CONTACT_ME' | translate }}</p>
        <button class="get-in-touch-btn">{{ 'SKILLS.GET_IN_TOUCH' | translate }}</button>
      </div>
    </div>
  </div>
</div>
