<div class="skill-container">
  <div class="skill-description-responsive">
    <div>
      <h3>Looking for <b>another skill</b>?</h3>
      <p>
        Feel free to contact me. I look forward to expanding on my previous
        knowledge.
      </p>

      <button class="get-in-touch-btn">Get in touch</button>
    </div>
  </div>
  <div class="icons">
    <div class="singel-icon">
      <img src="./assets/img/icons/html.png" alt="" />
      <p>html</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/css.png" alt="" />
      <p>css</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/js.png" alt="" />
      <p>javascript</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/ts.png" alt="" />
      <p>typescript</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/angular.png" alt="" />
      <p>angular</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/firebase.png" alt="" />
      <p>firebase</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/git.png" alt="" />
      <p>git</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/api.png" alt="" />
      <p>rest api</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/scrum.png" alt="" />
      <p>scrum</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/materialdesign.png" alt="" />
      <p>material design</p>
    </div>
    <div class="singel-icon">
      <img src="./assets/img/icons/learning.png" alt="" />
      <p>Continually learning</p>
    </div>
  </div>
  <div class="my-skills">
    <div class="my-skills-header">
      <h2>My skills</h2>
      <img src="./assets/img/short-lilaline.png" alt="" />
    </div>

    <div class="skill-description">
      <p>
        I have gained experience in building projects with different frontend
        technologies and concepts.
      </p>
      <div>
        <h3>Looking for <b>another skill</b>?</h3>
        <p>
          Feel free to contact me. I look forward to expanding on my previous
          knowledge.
        </p>
        <button class="get-in-touch-btn">Get in touch</button>
      </div>
    </div>
  </div>
</div>
