.skill-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  width: 664px;
  // height: 404px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 26px;
}
.singel-icon {
  width: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-right: 14px;
  padding-left: 14px;
  > img {
    width: 60px;
    height: 60px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    object-fit: contain;
    &:hover {
      transform: scale(1.2);
    }
  }
  > p {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }
}

.my-skills {
  width: 571px;
  height: 514px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.my-skills-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  > h2 {
    font-size: 90px;
    font-weight: 700;
    color: white;
    margin: 0;
    text-align: right;
  }
}

.skill-description {
  > p {
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    color: white;
    margin: 0;
  }
  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    > h3 {
      font-size: 32px;
      font-weight: 700;
      text-align: right;
      color: white;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      > b {
        color: #9747ff;
      }
    }
    > p {
      font-size: 16px;
      font-weight: 400;
      text-align: right;
      color: white;
      margin: 0;
    }
  }
}

.get-in-touch-btn {
  height: 58px;
  background-color: #70e61c;
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 23px;
  font-weight: 400;
  font-family: "Poppins", serif;
  line-height: 27.5px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 30px;
}
.get-in-touch-btn:hover {
  background-color: #9747ff;
  transform: scale(1.1);
}
.skill-description-responsive {
  display: none;
}

@media screen and (max-width: 900px) {
  .icons {
    width: 90% !important;
  }
  .skill-description-responsive {
    > div {
      > h3 {
        width: 90% !important;
      }
      > p {
        width: 90% !important;
      }
    }
  }

  .my-skills-header {
    > h2 {
      font-size: 45px;
    }
  }
  .skill-container {
    width: 390px;
  }
  .my-skills-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    // position: relative;
    // left: 45px;
  }
  .my-skills {
    width: 100% !important;
  }
  .my-skills-header {
    justify-content: flex-end !important;
  }
  .icons {
    align-items: center !important;
    justify-content: center !important;
  }
  .skill-container {
    width: unset !important;
  }
}
@media screen and (max-width: 1405px) {
  .get-in-touch-btn {
    margin-top: 0;
  }
  .skill-description-responsive {
    width: 100%;
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      > p {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
        color: white;
        margin: 0;
      }
      > h3 {
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        text-align: right;
        color: white;
        margin-block-start: 0;
        margin-block-end: 0;
        > b {
          color: #9747ff;
        }
      }
      > p {
        font-size: 16px;
        font-weight: 400;
        text-align: right;
        color: white;
        margin: 0;
      }
    }
  }
  .my-skills-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
  }
  .skill-container {
    width: 70%;
    height: unset;
    flex-direction: column-reverse;
    position: unset;
    gap: 32px;
  }
  .my-skills {
    width: unset;
    height: unset;
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  .skill-description {
    padding-right: 77px;
  }
  .skill-description {
    > div {
      display: none;
    }
  }
  .icons {
    width: unset;
    align-items: flex-start;
    justify-content: center;
  }
  .singel-icon {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
