<div class="portfolio-container">
  <div class="title-portfolio">
    <img
      class="port-responsive-line"
      src="./assets/img/port-responsive-line-short.png"
      alt=""
    />
    <img src="./assets/img/middle-lilaline.png" alt="" />
    <h1>Portfolio</h1>
    <img src="./assets/img/long-lilaline.png" alt="" />
    <img
      class="port-responsive-line"
      src="./assets/img/short-lilaline.png"
      alt=""
    />
  </div>

  <div class="explore">
    <p>
      Explore a selection of my work here - Interact with projects to see my
      skills in action.
    </p>
  </div>
  <div class="project-container">
    <div class="project">
      <div class="laptop">
        <img src="./assets/img/laptop.png" alt="" />
      </div>
      <div class="description">
        <div class="description-text">
          <h3>Join</h3>
          <span>Angular | TypeScript | HTML | CSS | Firebase </span>
          <p>
            Task manager inspired by the Kanban System. Create and organize
            tasks using drag and drop functions, assign users and categories.
          </p>
        </div>
        <div class="description-buttons">
          <button class="live">Live test</button>
          <button class="git">Github</button>
        </div>
      </div>
    </div>


  <div class="project row">
    <div class="description">
      <div class="description-text txt-left">
        <h3>Sharki</h3>
        <span>JavaScript | HTML | CSS</span>
        <p>
          A simple Jump-and-Run game based on an object-oriented approach. Help
          sharkie to find coins and poison bottles to fight against the killer
          whale.
        </p>
      </div>
      <div class="description-buttons">
        <button class="live">Live test</button>
        <button class="git">Github</button>
      </div>
    </div>
    <div class="laptop">
      <img src="./assets/img/sharki.png" alt="" />
    </div>
  </div>

  <div class="project">
    <div class="laptop">
      <img src="./assets/img/crm.png" alt="" />
    </div>
    <div class="description">
      <div class="description-text">
        <h3>Simple CRM</h3>
        <span>Angular | Firebase</span>
        <p>
          A very Simple Customer Relationship Management system working with
          CRUD functionality.
        </p>
      </div>
      <div class="description-buttons">
        <button class="live">Live test</button>
        <button class="git">Github</button>
      </div>
    </div>
  </div>

  <div class="project row">
    <div class="description">
      <div class="description-text txt-left">
        <h3>Pokédex</h3>
        <span>JavaScript | HTML | CSS | Api</span>
        <p>
          Based on the PokéAPI a simple library that provides and catalogues
          pokemon information.
        </p>
      </div>
      <div class="description-buttons">
        <button class="live">Live test</button>
        <button class="git">Github</button>
      </div>
    </div>
    <div class="laptop">
      <img src="./assets/img/pokemon.png" alt="" />
    </div>
  </div>

  <div class="project">
    <div class="laptop">
      <img src="./assets/img/dabooble.png" alt="" />
    </div>
    <div class="description">
      <div class="description-text">
        <h3>DA Bubble</h3>
        <span>Angular | TypeScript | Firebase</span>
        <p>
          This App is a Slack Clone App. It revolutionizes team communication
          and collaboration with its intuitive interface, real-time messaging,
          and robust channel organization.
        </p>
      </div>
      <div class="description-buttons">
        <button class="live">Live test</button>
        <button class="git">Github</button>
      </div>
    </div>
  </div>
</div>
