.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.portfolio-container {
  // width: 1304px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.title-portfolio {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  > h1 {
    font-size: 90px;
    font-weight: 700;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
.explore {
  > p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 0;
  }
}
.project {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.description-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  > h3 {
    font-size: 32px;
    font-weight: 700;
    color: #9747ff;
    margin: 0;
  }
  > span {
    font-size: 23px;
    font-weight: 400;
    color: #70e61c;
  }
  > p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin: 0;
  }
}
.description-buttons-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
  > button:hover {
    background-color: #70e61c;
    transform: scale(1.1);
  }
}

.description-buttons-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;
  > button:hover {
    background-color: #70e61c;
    transform: scale(1.1);
  }
}

.live {
  height: 58px;
  background-color: #9747ff;
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 23px;
  font-weight: 400;
  font-family: "Poppins", serif;
  line-height: 27.5px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.live:hover {
  background-color: #70e61c;
  transform: scale(1.1);
}

.git {
  width: 137px;
  height: 58px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #70e61c;
  padding: 15px 30px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 23px;
  font-weight: 400;
  font-family: "Poppins", serif;
  line-height: 27.5px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.git:hover {
  background-color: #70e61c;
  transform: scale(1.1);
}

.txt-left {
  text-align: right;
}
.port-responsive-line {
  display: none;
}


@media screen and (max-width: 900px) {
  .title-portfolio {
    justify-content: unset;
  }
  .portfolio-container {
    width: 100% !important;
  }
  .laptop {
    > img {
      width: 95% !important;
    }
  }
  .project {
    width: 95% !important;
    flex-direction: column;
    gap: 35px !important;
  }
  .description-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    > span {
      text-align: center;
      font-size: 23px;
    }
    > h3 {
      margin-block-start: 0;
      margin-block-end: 0;
    }
    > p {
      margin: 0;
      text-align: center;
    }
  }
  .description-buttons-left,
  .description-buttons-right {
    width: auto;
    gap: unset;
    justify-content: space-between;
  }
  .project-container {
    gap: 50px !important;
  }
  .row {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1405px) {
  .live {
    width: max-content;
  }
  .project {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .laptop {
    > img {
      width: 342px;
    }
  }
  .explore {
    position: unset;
  }
  .port-responsive-line {
    display: block !important;
  }
  .portfolio-container {
    width: 70%;
    height: auto;
    position: unset;
    gap: 40px;
  }
  .title-portfolio {
    justify-content: flex-end !important;
    gap: 6px;
    > img {
      display: none;
    }
    > h1 {
      font-size: 45px;
    }
  }
}
