<div class="portfolio-container">
  <div class="title-portfolio">
    <img
      class="port-responsive-line"
      src="./assets/img/port-responsive-line-short.png"
      alt=""
    />
    <img src="./assets/img/middle-lilaline.png" alt="" />
    <h1>{{ "portfolio.title" | translate }}</h1>
    <img src="./assets/img/long-lilaline.png" alt="" />
    <img
      class="port-responsive-line"
      src="./assets/img/short-lilaline.png"
      alt=""
    />
  </div>

  <div class="explore">
    <p>
      {{ "portfolio.explore" | translate }}
    </p>
  </div>

  <div class="project-container">
    <div class="project">
      <div class="laptop">
        <img src="./assets/img/laptop.png" alt="" />
      </div>
      <div class="description">
        <div class="description-text">
          <h3>{{ "portfolio.projects.join.title" | translate }}</h3>
          <span>{{ "portfolio.projects.join.tech" | translate }}</span>
          <p>
            {{ "portfolio.projects.join.description" | translate }}
          </p>
        </div>
        <div class="description-buttons">
          <button
            class="live"
            onclick="window.open('https://maximilian-wagener.de/join/', '_blank');"
          >
            {{ "portfolio.projects.buttons.live" | translate }}
          </button>
          <button class="git" onclick="window.open('https://maximilian-wagener.de/join/', '_blank');">
            {{ "portfolio.projects.buttons.github" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="project row">
      <div class="description">
        <div class="description-text txt-left">
          <h3>{{ "portfolio.projects.sharki.title" | translate }}</h3>
          <span>{{ "portfolio.projects.sharki.tech" | translate }}</span>
          <p>
            {{ "portfolio.projects.sharki.description" | translate }}
          </p>
        </div>
        <div class="description-buttons">
          <button
            class="live"
            onclick="window.open('https://maximilian-wagener.de/ElPolloLoco/', '_blank');"
          >
            {{ "portfolio.projects.buttons.live" | translate }}
          </button>
          <button class="git" onclick="window.open('https://github.com/DeVAiRMaX/El-Pollo-Loco---Akademie', '_blank');">
            {{ "portfolio.projects.buttons.github" | translate }}
          </button>
        </div>
      </div>
      <div class="laptop">
        <img src="./assets/img/sharki.png" alt="" />
      </div>
    </div>

    <div class="project">
      <div class="laptop">
        <img src="./assets/img/pokemon.png" alt="" />
      </div>
      <div class="description">
        <div class="description-text txt-left">
          <h3>{{ "portfolio.projects.pokedex.title" | translate }}</h3>
          <span>{{ "portfolio.projects.pokedex.tech" | translate }}</span>
          <p>
            {{ "portfolio.projects.pokedex.description" | translate }}
          </p>
        </div>
        <div class="description-buttons">
          <button
            class="live"
            onclick="window.open('https://maximilian-wagener.de/Pokedex/', '_blank');"
          >
            {{ "portfolio.projects.buttons.live" | translate }}
          </button>
          <button class="git" onclick="window.open('https://maximilian-wagener.de/join/', '_blank');">
            {{ "portfolio.projects.buttons.github" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="project row">
      <div class="description">
        <div class="description-text">
          <h3>{{ "portfolio.projects.dabooble.title" | translate }}</h3>
          <span>{{ "portfolio.projects.dabooble.tech" | translate }}</span>
          <p>
            {{ "portfolio.projects.dabooble.description" | translate }}
          </p>
          <p style="color: red !important;">*Coming soon!</p>
        </div>
        <div class="description-buttons">
          <button
            class="live"
            onclick="window.open('https://maximilian-wagener.de/#', '_blank');"
          >
            {{ "portfolio.projects.buttons.live" | translate }}
          </button>
          <button class="git">
            {{ "portfolio.projects.buttons.github" | translate }}
          </button>
        </div>
      </div>
      <div class="laptop">
        <img src="./assets/img/dabooble.png" alt="" />
      </div>
    </div>
  </div>
</div>
