<div class="impressum-container">
  <div>
    <div class="impressum-header">
      <img src="./assets/img/middle-lilaline.png" alt="" />
      <h1>{{ "impressum.title" | translate }}</h1>
    </div>
    <div class="impressum-text">
      <h2>{{ "impressum.infoTitle" | translate }}</h2>
      <p>{{ "impressum.address" | translate }}</p>

      <h3>{{ "impressum.contactTitle" | translate }}</h3>
      <p>{{ "impressum.email" | translate }}</p>

      <h3>{{ "impressum.disclaimerTitle" | translate }}</h3>
      <p>{{ "impressum.disclaimerText" | translate }}</p>

      <h3>{{ "impressum.liabilityLinksTitle" | translate }}</h3>
      <p>{{ "impressum.liabilityLinksText" | translate }}</p>

      <h3>{{ "impressum.copyrightTitle" | translate }}</h3>
      <p>{{ "impressum.copyrightText" | translate }}</p>

      <h3>{{ "impressum.liabilityTitle" | translate }}</h3>
      <p>{{ "impressum.liabilityText" | translate }}</p>

      <h2>{{ "impressum.governingLawTitle" | translate }}</h2>
      <p>{{ "impressum.governingLawText" | translate }}</p>

      <h3>{{ "impressum.changesTitle" | translate }}</h3>
      <p>{{ "impressum.changesText" | translate }}</p>

      <h3>{{ "impressum.privacyTitle" | translate }}</h3>
      <p>{{ "impressum.privacyText" | translate }}</p>
    </div>
  </div>
</div>
