<app-header class="header"></app-header>
<img class="vector" src="../assets/img/vectorshape.png" alt="" />
<img class="purpleshadow1" src="../assets/img/Purpleshadow1.png" alt="" />
<img class="greenshadow1" src="../assets/img/Greenshadow1.png" alt="" />
<img class="purpleshadow2" src="../assets/img/Purpleshadow2.png" alt="" />
<img class="greenshadow2" src="../assets/img/Greenshadow2.png" alt="" />
<img class="purpleshadow3" src="../assets/img/Purpleshadow3.png" alt="" />
<div class="wrapper">
  <app-hero class="hero"></app-hero>

  <app-aboutme
    class="about-me"
    id="aboutMe"
    [@scrollAnimation]="aboutMeState"
  ></app-aboutme>
  <app-skills
    class="skills"
    id="skills"
    [@scrollAnimationRight]="skillsState"
  ></app-skills>

  <app-portfolio
    id="portfolio"
    class="portfolio"
    [@scrollAnimation]="portfolioState"
  ></app-portfolio>

  <app-feedback
    class="feedback"
    id="feedback"
    [@scrollAnimationRight]="feedbackState"
  ></app-feedback>
  <app-contact
    class="contact"
    id="contact"
    [@scrollAnimation]="contactState"
  ></app-contact>
  <app-footer class="footer"></app-footer>
</div>
