<img  class="purpleshadow1" src="./assets/img/Purpleshadow1.png" alt="" />
<img *ngIf="!hideImages" class="greenshadow1" src="./assets/img/Greenshadow1.png" alt="" />
<img *ngIf="!hideImages" class="purpleshadow2" src="./assets/img/Purpleshadow2.png" alt="" />
<img *ngIf="!hideImages" class="greenshadow2" src="./assets/img/Greenshadow2.png" alt="" />
<img  class="purpleshadow3" src="./assets/img/Purpleshadow3.png" alt="" />
<app-header class="header"></app-header>
<div class="wrapper">
<router-outlet class="start-top"></router-outlet>
</div>
<app-footer class="footer"></app-footer>
