.footer {
}

.header {
  
}

.purpleshadow1 {
  position: absolute;
  z-index: 4;
  top: 750px;
  right: 0;
}

.greenshadow1 {
  position: absolute;
  top: 2000px;
  left: 0;
}

.purpleshadow2 {
  position: absolute;
  top: 2700px;
  left: 0;
}

.greenshadow2 {
  position: absolute;
  top: 4000px;
  right: 0;
}

.purpleshadow3 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 120px;
}

@media screen and (max-width: 1405px) {
  .wrapper {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    margin-bottom: 0;
  }
  .purpleshadow1 {
    width: 232.32px;
    height: 415.93px;
    top: 840px !important;
  }

  .greenshadow1 {
    width: 246.43px;
    height: 547.06px;
    top: 2192px !important;
    left: -33px !important;
  }

  .purpleshadow2 {
    width: 241.11px;
    height: 453.22px;
    top: 4552px !important;
  }

  .greenshadow2 {
    top: 5815px !important;
    width: 198.25px;
    height: 503px;
  }
  .purpleshadow3 {
    bottom: 139px !important;
    width: 307.52px;
    height: 448.9px;
  }
}
