<app-header class="header"></app-header>
<img class="vector" src="../assets/img/vectorshape.png" alt="" />
<!-- <img class="arm" src="../assets/img/chararm.png" alt="" /> -->
<div class="wrapper">
  <app-hero class="hero"></app-hero>
<div class="space">
  <app-aboutme class="about-me"></app-aboutme>
  <app-skills class="skills"></app-skills>
  <app-portfolio class="skills"></app-portfolio>
  <app-feedback class="feedback"></app-feedback>
  <app-contact class="conact"></app-contact>
</div>
</div>
<app-footer class="footer"></app-footer>

