.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  max-width: 100%;
}

.me {
  width: 646px;
  position: absolute;
  top: 106px;
  left: 47px;
}

.vector {
  position: absolute;
  top: 467px;
  left: 0;
  width: 100%;
  height: 767px;
  display: block;
  background-color: transparent;
  z-index: 3;
}

.hero {
  width: 100%;
}

.about-me {
  width: 100%;
  position: relative;
  z-index: 4;
}

.skills {
  width: 100%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 200px;
}
.space {
  display: flex;
  flex-direction: column;
  gap: 320px;
  margin-top: 240px;
}

.portfolio {
  width: 100%;
}

.feedback {
  width: 100%;
}

.conact {
  width: 100%;
}

.footer {
  // position: absolute;
  // top: 6180px;
}

.purpleshadow1 {
  position: absolute;
  z-index: 3;
  top: 750px;
  right: 0;
}

.greenshadow1 {
  position: absolute;
  top: 2000px;
  left: 0;
}

.purpleshadow2 {
  position: absolute;
  top: 3100px;
  left: 0;
}

.greenshadow2 {
  position: absolute;
  top: 4000px;
  right: 0;
}

.purpleshadow3 {
  position: absolute;
  top: 5040px;
  left: 0;
}

.contact {
  margin-bottom: 200px !important;
}

.landingpage {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
}

@media screen and (max-width: 1405px) {
  .landingpage {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
  }
  .greenshadow1 {
    top: 1600px;
  }
  .purpleshadow3 {
    top: 5300px;
  }
  .purpleshadow2 {
    top: 2754px;
  }
  .contact {
    width: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
  }

  .feedback {
    width: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    gap: 160px;
  }
  .vector {
    top: 420px;
  }
  .space {
    gap: unset;
    margin-top: 0;
  }
  .about-me {
    width: auto;
    height: auto;
  }
  .skills {
    width: auto;
    height: auto;
    position: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portfolio {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 900px) {
  .purpleshadow1 {
    width: 232.32px;
    height: 415.93px;
    top: 748px !important;
  }

  .greenshadow1 {
    width: 246.43px;
    height: 547.06px;
    top: 2350px !important;
    left: -33px !important;
  }

  .purpleshadow2 {
    width: 241.11px;
    height: 453.22px;
    top: 3500px !important;
  }

  .greenshadow2 {
    top: 4600px !important;
    width: 198.25px;
    height: 503px;
  }
  .purpleshadow3 {
    top: 6200px !important;
    width: 307.52px;
    height: 448.9px;
  }
  .vector {
    height: 280px;
    top: 430px;
  }
  .wrapper {
    gap: 120px;
  }
}
