<div class="footer-container">
    <div class="footer-section">
<div class="footer-logo">
    <img src="./assets/img/footer-logo.png" alt="">
    <a href="#">Legal Notice</a>
</div>
<div class="footer-copyright">
    <p>© Dominik Roth 2024</p>
</div>
<div class="footer-socials">
    <img class="scocialicon" src="./assets/img/github.png" alt="">
    <img class="scocialicon" src="./assets/img/mail.png" alt="">
    <img class="scocialicon" src="./assets/img/linkedin.png" alt="">
</div>
</div>
</div>